@use "../utilities" as *;

.current-bmi {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: $gray-border;
  font-size: $font-size;
  height: 12%;
  .bmi {
    text-transform: uppercase;
  }
  h3:nth-of-type(2) {
    color: bisque;
    text-transform: capitalize;
  }
}
