@use "../utilities" as *;

.enter-weight {
  border-top: $gray-border;
  height: 4.85rem;
  &-btn {
    height: 100%;
    display: flex;
    .weight-btn {
      margin: auto;
      text-transform: capitalize;
      height: 65%;
      width: 50%;
      font-size: $weight-btn-font;
      font-weight: bold;
      cursor: pointer;
      border-radius: 30px;
      border: none;
      @include respond-to("medium") {
        font-size: $med-font-size;
      }
      &:hover {
        background: bisque;
      }
    }
  }
}
