@use "../utilities" as *;

.progress-container {
  width: 100%;
  border-top: $gray-border;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: $font-size;
  h3 {
    text-transform: capitalize;
  }
  .progress-bar {
    width: 40%;
    background: lightgray;
    height: 1rem;
    .progress {
      height: inherit;
      background-color: $progress;
    }
  }
}
