@use "../utilities" as *;

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  .tracker {
    border-radius: 30px;
    height: 34rem;
    margin: 0 auto;
    width: 500px;
    @include set-background($background2);
    backdrop-filter: blur(10px);
    border: solid 2px rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px 0 rgba(8, 7, 16, 0.6);
    @include respond-to("big") {
      width: 90%;
    }
    .current-stats {
      text-transform: capitalize;
      color: yellow;
      text-align: center;
      border-top: $gray-border;
      font-size: $med-font-size;
      h2 {
        @include respond-to("medium") {
          font-size: $form-font-size;
        }
      }
    }
    .progression {
      display: flex;
      justify-content: space-around;
      border-top: $gray-border;
      font-size: $font-size;
      h3:first-of-type {
        text-transform: capitalize;
      }
    }
  }
}
