@use "../utilities" as *;

.container {
  height: calc(90vh - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  @include respond-to("huge") {
    height: calc(100vh - 4rem);
  }
  .back-filler {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 34rem;
    width: 500px;
    border-radius: 30px;
    opacity: 0.2;
    @include respond-to("big") {
      width: 90%;
    }
    &-1 {
      top: 20%;
      left: 10%;
      background-color: $light-color;
      position: absolute;
      width: 70%;
      height: 47%;
      transform: rotate(-30deg);
      border-radius: 100px;
    }
  }
  .tracker {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    height: calc(90% - 3rem);
    width: 500px;
    margin: 0 auto;
    backdrop-filter: blur(25px);
    border: solid 2px rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 5px 1px #908b8b, 0 0 1px 1px #908b8b, 0 0 0 1px #000;
    z-index: 30;
    @include respond-to("big") {
      width: 90%;
    }
    .current-stats {
      text-transform: capitalize;
      color: yellow;
      text-align: center;
      border-top: $gray-border;
      font-size: $font-size;
      height: 3rem;
      h2 {
        @include respond-to("medium") {
          font-size: $form-font-size;
        }
      }
    }
    .progression {
      display: flex;
      justify-content: space-around;
      border-top: $gray-border;
      font-size: $font-size;
      h3:first-of-type {
        text-transform: capitalize;
      }
    }
  }
}
