@use "../utilities" as *;

.overlay {
  height: calc(100vh - 4rem);
  width: 100vw;
  background: black;
  position: absolute;
  z-index: 100;
  margin-bottom: auto;
  opacity: 0.7;
  z-index: 40;
}
.slider {
  position: relative;
  z-index: 41;
  height: 20rem;
  width: 25rem;
  position: absolute;
  padding: 1rem;
  @include set-background(black);
  border-radius: 10px;
  @include respond-to("medium") {
    width: 90%;
  }
  .close {
    position: absolute;
    right: 0;
    transform: translateX(-30%);
    height: 2rem;
    font-size: $big-font;
    font-weight: bold;
    width: 2rem;
    cursor: pointer;
    background: none;
    color: red;
    border: none;
    text-transform: capitalize;
    opacity: 0.7;
  }
  &-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    h2 {
      text-transform: capitalize;
      font-size: $large-font;
      span {
        text-transform: lowercase;
      }
    }
    .input-container {
      height: 2.25rem;
      width: 100%;
      input[type="range"] {
        appearance: none;
        height: 2em;
        border-radius: 5px;
        background-image: $slider-gradient;
        background-repeat: no-repeat;
        background-color: gray;
      }
      input::-webkit-slider-thumb {
        appearance: none;
        width: 2.5rem;
        height: 2.5rem;
        background-color: $slider-color;
        border-radius: 50%;
        border: solid 1px black;
        cursor: pointer;
      }
    }
    .weight-value {
      display: flex;
      height: 3rem;
      align-items: start;
      p {
        font-size: $big-font;
        margin-top: 0;
      }
    }
    .btn {
      text-transform: capitalize;
      height: 2rem;
      width: 100%;
      background: $primary-blue;
      color: $light-color;
      border: none;
      border-radius: 5px;
      font-weight: bold;
      cursor: pointer;
      font-size: $primary-font;
      letter-spacing: 1.5px;
    }
  }
}
