$breakpoints: (
  "small": (
    max-width: 385px,
  ),
  "medium": (
    max-width: 470px,
  ),
  "big": (
    max-width: 530px,
  ),
  "bigg": (
    max-width: 670px,
  ),
  "bigger": (
    max-width: 760px,
  ),
  "biggest": (
    max-width: 920px,
  ),
  "huge": (
    max-width: 1246px,
  ),
);

@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(
      type-of($raw-query) == "string",
      unquote($raw-query),
      inspect($raw-query)
    );

    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
        + 'Please make sure it is defined in `$breakpoints` map.';
  }
}
