$light-color: #f4f4f4;
$dark-color: rgb(19, 21, 21);
$dark-bg: linear-gradient(to top, rgb(74, 71, 71), rgba(0, 0, 0, 1));
$primary-blue: #0000ff;
$light-blue: rgb(0, 150, 255);
$primary-yellow: #ffff00;
$slider-color: #d4b20b;
$slider-gradient: linear-gradient($slider-color, $slider-color);
$primary-gray: #808080;
$gray-border: solid 1px gray;

// set text color based on bg

@function set-text-color($color) {
  @if (lightness($color) > 70) {
    @return $dark-color;
  } @else {
    @return $light-color;
  }
}

@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}
