$dark-color: rgb(19, 21, 21);
$background1: linear-gradient(rgb(19, 21, 21), rgba(0, 0, 0, 0.7));
$background2: #292929;
$form-hover: #53628d;
$light-color: #f4f4f4;
$progress: blue;
$gray-border: solid 1px gray;

// set text color based on bg

@function set-text-color($color) {
  @if (lightness($color) > 70) {
    @return $dark-color;
  } @else {
    @return $light-color;
  }
}

@mixin set-background($color) {
  background: $color;
  color: set-text-color($color);
}
