// $big-font-size: 1.75rem;
// $weight-btn-font: 1.25rem;
// $form-font-size: 1.25rem;
// $bigger-font-size: 1.25rem;
// $font-size: 0.75rem;
// $med-font-size: 1rem;
$small-font: 0.75rem;
$primary-font: 1rem;
$nav-font: 1.15rem;
$med-font: 1.25rem;
$big-font: 1.5rem;
$large-font: 1.75rem;
