@use "./config" as *;

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
  color: $light-color;
  font-family: "Roboto", sans-serif;
  background: $dark-bg;
  // overflow: hidden;
}
.start,
.goals {
  padding: 0;
  list-style-type: none;
}
