@use "../utilities" as *;

.input-form {
  position: relative;
  position: absolute;
  background: $dark-color;
  height: 100vh;
  width: 100vw;
  .form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40rem;
    width: 30rem;
    @include set-background($light-color);
    font-size: $form-font-size;
    border-radius: 30px;
    &-container {
      height: 100%;
      width: 85%;
      margin: 0 auto;
      .form-heading {
        font-size: $med-font-size;
        text-transform: capitalize;
        text-align: center;
      }
    }
  }
}
