@use "../utilities" as *;

.input-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-transform: capitalize;

  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    label {
      padding-top: 0.75rem;
      font-weight: bold;
      font-size: 1.25rem;
      @include respond-to("bigger") {
        font-size: 1rem;
        padding: 0;
        height: 1rem;
      }
    }
    input {
      height: 2.75rem;
      display: block;
      background: none;
      color: $light-color;
      letter-spacing: 1.5px;
      border-bottom: solid 2px gray;
      border-top: none;
      border-left: none;
      border-right: none;
      width: 100%;
      font-size: 1.25rem;
      margin-bottom: 0.75rem;
      @include respond-to("bigger") {
        margin-bottom: 0.25rem;
        font-size: 0.75rem;
        height: 1rem;
      }
    }
    input[type="date"]::-webkit-calendar-picker-indicator {
      cursor: pointer;
      filter: invert(1);
      font-size: $med-font-size;
    }
  }
  .btn {
    text-transform: capitalize;
    font-size: $weight-btn-font;
    font-weight: bold;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    padding-block: 0.25rem;
    @include respond-to("bigger") {
      // margin-bottom: 0.75rem;
      padding: 0;
      font-size: 1rem;
    }
    &:hover {
      background: bisque;
    }
  }
}
