@use "../utilities" as *;

.container {
  height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  // border: solid 1px blue;
  .name {
    margin: 0;
    text-align: center;
    height: 3rem;
  }
  .tracker {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    height: 29.25rem;
    width: 500px;
    margin-bottom: 1rem;
    backdrop-filter: blur(25px);
    border: solid 2px rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 5px 1px #908b8b, 0 0 1px 1px #908b8b, 0 0 0 1px #000;
    z-index: 30;
    @include respond-to("big") {
      width: 90%;
    }
    .overview {
      height: 10rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: $font-size;
      .current-weight {
        height: 90%;
        width: 35%;
        position: relative;
        .circle {
          border: solid 1px gray;
          border-radius: 50%;
          width: 100%;
          padding-bottom: 90%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          h2 {
            position: absolute;
            top: 35%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: $big-font-size;
            width: 100%;
            text-align: center;
            @include respond-to("medium") {
              font-size: 1.5rem;
            }
            span {
              font-size: $med-font-size;
            }
          }
        }
      }
    }
    .progress-container {
      width: 100%;
      border-top: $gray-border;
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-size: $font-size;
      h3 {
        text-transform: capitalize;
      }
      .progress-bar {
        width: 40%;
        background: lightgray;
        height: 1rem;
        .progress {
          height: inherit;
          background-color: $progress;
        }
      }
    }

    .current-stats {
      text-transform: capitalize;
      color: yellow;
      text-align: center;
      border-top: $gray-border;
      font-size: $font-size;
      height: 3rem;
      h2 {
        @include respond-to("medium") {
          font-size: $form-font-size;
        }
      }
    }
    .progression {
      display: flex;
      justify-content: space-around;
      border-top: $gray-border;
      font-size: $font-size;
      h3:first-of-type {
        text-transform: capitalize;
      }
    }
    .current-bmi {
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-top: $gray-border;
      font-size: $font-size;
      height: 12%;
      h3:nth-of-type(2) {
        color: bisque;
        text-transform: capitalize;
      }
      .bmi {
        text-transform: uppercase;
      }
    }
    .enter-weight {
      border-top: $gray-border;
      flex-grow: 1;
      &-btn {
        height: 100%;
        display: flex;
        align-items: center;
        .weight-btn {
          margin: auto;
          text-transform: capitalize;
          height: 75%;
          width: 50%;
          font-size: $weight-btn-font;
          font-weight: bold;
          cursor: pointer;
          border-radius: 30px;
          border: none;
          @include respond-to("medium") {
            font-size: $med-font-size;
          }
          &:hover {
            background: bisque;
          }
        }
      }
    }
  }
  .back-filler {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 34rem;
    width: 500px;
    border-radius: 30px;
    opacity: 0.2;
    @include respond-to("big") {
      width: 90%;
    }
    &-1 {
      top: 20%;
      left: 10%;
      background-color: $light-color;
      position: absolute;
      width: 70%;
      height: 47%;
      transform: rotate(-30deg);
      border-radius: 100px;
    }
  }
}
