@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
  color: #f4f4f4;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to top, rgb(74, 71, 71), rgb(0, 0, 0));
  overflow: hidden;
}

.start,
.goals {
  padding: 0;
  list-style-type: none;
}

.form-heading {
  font-size: 1.25rem;
  height: 3rem;
  text-transform: capitalize;
  width: 100%;
}
.form-heading h2 {
  height: 50%;
  text-align: center;
  text-transform: capitalize;
}

.input-form {
  width: 100vw;
  height: calc(100vh - 9rem);
}
.input-form-container {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
  height: 100%;
}
@media (max-width: 760px) {
  .input-form-container {
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 2.5rem;
  }
}
.input-form-container .placeholderClass {
  margin-top: 3rem;
  height: 70%;
  width: 25rem;
}
@media (max-width: 920px) {
  .input-form-container .placeholderClass {
    width: 20rem;
  }
}
@media (max-width: 760px) {
  .input-form-container .placeholderClass {
    height: 40%;
    margin: 0;
    width: 70%;
  }
}
@media (max-width: 470px) {
  .input-form-container .placeholderClass {
    width: 90%;
  }
}
.input-form-container .placeholderClass h3 {
  text-transform: capitalize;
  margin: 0 auto;
  color: gray;
  padding-bottom: 0.5rem;
}
@media (max-width: 760px) {
  .input-form-container .placeholderClass h3 {
    width: 90%;
    font-size: 1rem;
    padding-top: 0.5rem;
  }
}
.input-form-container .placeholderClass .form {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-size: 1.25rem;
}
@media (max-width: 760px) {
  .input-form-container .placeholderClass .form {
    padding-top: 0.5rem;
  }
}
.input-form-container .placeholderClass .form .form-container {
  height: 100%;
  width: 90%;
  margin: 0 auto;
}
@media (max-width: 760px) {
  .input-form-container .placeholderClass {
    margin: 0;
  }
}

.btn-container {
  height: 2.5rem;
}
.btn-container .form-btn {
  height: 100%;
  width: 100%;
  cursor: pointer;
  font-size: 1.25rem;
  background: blue;
  color: #f4f4f4;
}
.btn-container .form-btn:hover {
  background: #53628d;
}

.input-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
}
.input-container div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.input-container div label {
  padding-top: 0.75rem;
  font-weight: bold;
  font-size: 1.25rem;
}
@media (max-width: 760px) {
  .input-container div label {
    font-size: 1rem;
    padding: 0;
    height: 1rem;
  }
}
.input-container div input {
  height: 2.75rem;
  display: block;
  background: none;
  color: #f4f4f4;
  letter-spacing: 1.5px;
  border-bottom: solid 2px gray;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}
@media (max-width: 760px) {
  .input-container div input {
    margin-bottom: 0.25rem;
    font-size: 0.75rem;
    height: 1rem;
  }
}
.input-container div input[type=date]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(1);
  font-size: 1rem;
}
.input-container .btn {
  text-transform: capitalize;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 30px;
  border: none;
  padding-block: 0.25rem;
}
@media (max-width: 760px) {
  .input-container .btn {
    padding: 0;
    font-size: 1rem;
  }
}
.input-container .btn:hover {
  background: bisque;
}

.navbar {
  height: 4rem;
  position: relative;
  display: flex;
  align-items: center;
}
.navbar .hamburger-btn {
  right: 0;
  position: absolute;
  background: none;
  color: #f4f4f4;
  border: none;
  height: 100%;
  width: 3rem;
  font-size: 2.5rem;
  cursor: pointer;
  display: none;
}
.navbar ul {
  width: 1100px;
  font-size: 1.15rem;
  height: 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
  font-weight: bold;
}
@media (max-width: 530px) {
  .navbar ul {
    display: none;
  }
}
.navbar ul .active {
  border-bottom: solid 2px #f4f4f4;
}
.navbar ul a {
  text-decoration: none;
  color: #f4f4f4;
}

aside {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 50vw;
  top: 0;
  right: 0;
  z-index: 40;
  text-transform: capitalize;
  background: #27292b;
  color: white;
  display: none;
}
aside .close-btn {
  height: 3rem;
  font-size: 2rem;
  font-weight: bold;
  width: 2rem;
  align-self: end;
  margin-top: 2rem;
  margin-right: 1rem;
  cursor: pointer;
}
aside nav {
  height: calc(100% - 5rem);
}
aside nav .side-nav {
  margin-top: 3rem;
  list-style-type: none;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.5rem;
}
aside nav .side-nav li {
  cursor: pointer;
}

.history {
  height: calc(100vh - 4rem);
  width: 100vw;
  overflow-x: hidden;
}
.history header {
  height: 6.25rem;
  text-transform: capitalize;
}
.history header .title {
  text-align: center;
  font-size: 1.25rem;
  height: 3rem;
  border: solid 1px transparent;
}
.history header .first-name {
  color: gray;
  font-size: 0.75rem;
  width: 90%;
  margin: 0 auto;
}
.history .history-container {
  min-height: calc(100% - 6.25rem);
}
.history .history-container .input-history {
  border-bottom: solid 1px gray;
  height: inherit;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.25rem;
}
@media (max-width: 760px) {
  .history .history-container .input-history {
    font-size: 1rem;
  }
}
@media (max-width: 470px) {
  .history .history-container .input-history {
    font-size: 0.75rem;
  }
}
.history .history-container .input-history .weight-container .difference {
  font-size: 1rem;
}
@media (max-width: 760px) {
  .history .history-container .input-history .weight-container .difference {
    font-size: 0.75rem;
  }
}
@media (max-width: 470px) {
  .history .history-container .input-history .weight-container .difference {
    font-size: 0.5rem;
  }
}
.history .history-container .input-history .progress-bar-container {
  width: 20rem;
  text-transform: capitalize;
  text-align: center;
}
@media (max-width: 760px) {
  .history .history-container .input-history .progress-bar-container {
    width: 15rem;
  }
}
@media (max-width: 530px) {
  .history .history-container .input-history .progress-bar-container {
    width: 10rem;
  }
}
.history .history-container .input-history .progress-bar-container .progress-bar {
  background: lightgray;
  height: 1rem;
}
@media (max-width: 470px) {
  .history .history-container .input-history .progress-bar-container .progress-bar {
    height: 0.5rem;
    width: 7rem;
    margin: 0 auto;
  }
}
.history .history-container .input-history .progress-bar-container .progress-bar .progress {
  height: inherit;
  background-color: blue;
}

.container {
  height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.container .name {
  margin: 0;
  text-align: center;
  height: 3rem;
}
.container .tracker {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  height: 29.25rem;
  width: 500px;
  margin-bottom: 1rem;
  backdrop-filter: blur(25px);
  border: solid 2px rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 5px 1px #908b8b, 0 0 1px 1px #908b8b, 0 0 0 1px #000;
  z-index: 30;
}
@media (max-width: 530px) {
  .container .tracker {
    width: 90%;
  }
}
.container .tracker .overview {
  height: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.75rem;
}
.container .tracker .overview .current-weight {
  height: 90%;
  width: 35%;
  position: relative;
}
.container .tracker .overview .current-weight .circle {
  border: solid 1px gray;
  border-radius: 50%;
  width: 100%;
  padding-bottom: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container .tracker .overview .current-weight .circle h2 {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.75rem;
  width: 100%;
  text-align: center;
}
@media (max-width: 470px) {
  .container .tracker .overview .current-weight .circle h2 {
    font-size: 1.5rem;
  }
}
.container .tracker .overview .current-weight .circle h2 span {
  font-size: 1rem;
}
.container .tracker .progress-container {
  width: 100%;
  border-top: solid 1px gray;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 0.75rem;
}
.container .tracker .progress-container h3 {
  text-transform: capitalize;
}
.container .tracker .progress-container .progress-bar {
  width: 40%;
  background: lightgray;
  height: 1rem;
}
.container .tracker .progress-container .progress-bar .progress {
  height: inherit;
  background-color: blue;
}
.container .tracker .current-stats {
  text-transform: capitalize;
  color: yellow;
  text-align: center;
  border-top: solid 1px gray;
  font-size: 0.75rem;
  height: 3rem;
}
@media (max-width: 470px) {
  .container .tracker .current-stats h2 {
    font-size: 1.25rem;
  }
}
.container .tracker .progression {
  display: flex;
  justify-content: space-around;
  border-top: solid 1px gray;
  font-size: 0.75rem;
}
.container .tracker .progression h3:first-of-type {
  text-transform: capitalize;
}
.container .tracker .current-bmi {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: solid 1px gray;
  font-size: 0.75rem;
  height: 12%;
}
.container .tracker .current-bmi h3:nth-of-type(2) {
  color: bisque;
  text-transform: capitalize;
}
.container .tracker .current-bmi .bmi {
  text-transform: uppercase;
}
.container .tracker .enter-weight {
  border-top: solid 1px gray;
  flex-grow: 1;
}
.container .tracker .enter-weight-btn {
  height: 100%;
  display: flex;
  align-items: center;
}
.container .tracker .enter-weight-btn .weight-btn {
  margin: auto;
  text-transform: capitalize;
  height: 75%;
  width: 50%;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 30px;
  border: none;
}
@media (max-width: 470px) {
  .container .tracker .enter-weight-btn .weight-btn {
    font-size: 1rem;
  }
}
.container .tracker .enter-weight-btn .weight-btn:hover {
  background: bisque;
}
.container .back-filler {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 34rem;
  width: 500px;
  border-radius: 30px;
  opacity: 0.2;
}
@media (max-width: 530px) {
  .container .back-filler {
    width: 90%;
  }
}
.container .back-filler-1 {
  top: 20%;
  left: 10%;
  background-color: #f4f4f4;
  position: absolute;
  width: 70%;
  height: 47%;
  transform: rotate(-30deg);
  border-radius: 100px;
}

.login-page {
  width: 100vw;
  height: calc(100vh - 4rem);
  text-transform: capitalize;
}
.login-page header {
  text-align: center;
  font-size: 1.25rem;
  height: 3rem;
  margin-bottom: 5rem;
  padding-top: 2rem;
}
.login-page header .title {
  height: 100%;
}
.login-page header .title h2 {
  margin-top: 0;
  height: 100%;
}
.login-page .login {
  height: 50%;
  width: 50%;
  margin: 0 auto;
  background: rgb(18, 18, 18);
  border-radius: 30px;
  position: relative;
}
@media (max-width: 760px) {
  .login-page .login {
    width: 25rem;
  }
}
@media (max-width: 470px) {
  .login-page .login {
    width: 20rem;
  }
}
.login-page .login .login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.login-page .login .login-container div {
  width: 100%;
}
.login-page .login .login-container div label {
  display: block;
  margin-bottom: 0.75rem;
}
.login-page .login .login-container div input {
  width: 100%;
  height: 2rem;
  border-radius: 5px;
  background: gray;
}
.login-page .login .login-container div:nth-of-type(2) {
  height: 7rem;
}
.login-page .login .login-container .error {
  color: red;
  font-weight: bold;
}
.login-page .login .login-container .btn {
  text-transform: capitalize;
  height: 2rem;
  width: 100%;
  background: blue;
  color: #f4f4f4;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: 1.5px;
}

/*# sourceMappingURL=style.css.map */
