@use "utilities" as *;
@use "components";
@use "form";
@use "nav";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  background: $background1;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  color: $light-color;
  font-family: "Roboto", sans-serif;
  .name {
    text-align: center;
  }
}
