@use "../utilities" as *;

.navbar {
  height: 4rem;
  position: relative;
  display: flex;
  align-items: center;
  .hamburger-btn {
    right: 0;
    position: absolute;
    background: none;
    color: $light-color;
    border: none;
    height: 100%;
    width: 3rem;
    font-size: 2.5rem;
    cursor: pointer;
    display: none;
  }
  ul {
    width: 1100px;
    font-size: $nav-font;
    height: 3rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    font-weight: bold;
    @include respond-to("big") {
      display: none;
    }
    .active {
      border-bottom: solid 2px $light-color;
    }
    a {
      text-decoration: none;
      color: $light-color;
    }
  }
}
