@use "../utilities" as *;

aside {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 50vw;
  top: 0;
  right: 0;
  z-index: 40;
  text-transform: capitalize;
  background: #27292b;
  color: white;
  .close-btn {
    height: 3rem;
    font-size: 2rem;
    font-weight: bold;
    width: 2rem;
    align-self: end;
    margin-top: 2rem;
    margin-right: 1rem;
    cursor: pointer;
    background: none;
    color: $light-color;
    border: none;
    text-transform: capitalize;
  }
  nav {
    height: calc(100% - 5rem);
    .side-nav {
      margin-top: 3rem;
      list-style-type: none;
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      font-size: 1.25rem;
      li a {
        text-decoration: none;
        cursor: pointer;
        color: $light-color;
      }
    }
  }
}
